<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chats</title>
</head>
<body>
    <h3>Edit your messages</h3>

    <form method="POST" action="/chats/<%=chat._id%>?_method=PUT">
    <textarea name="msg" placeholder="edit your message"><%=chat.msg%></textarea><br>
    <button>edit</button>
    </form>
</body>
</html>