<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
    <h3>Create a new chat</h3>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who is this?" name="from"><br><br>
        <textarea name="msg">write your message here..</textarea><br><br>
        <input type="text" name="to" placeholder="reciever">
        <button>submit</button>
    </form>
</body>
</html>